body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-color{
    color: rgb(241, 157, 0);
}
.flexible-container{
    display: flex;
    margin-bottom: 150PX;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 117, 93), orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big p{
 padding-right: 20%;
 text-align: justify;
}
.top-banner p{
    text-align: justify;
}